.container_main_big_button {
  display: flex;
  height: 3em;
  user-select: none;
}

.container_for_img_big_button{
  width: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img_big_button {
  width: 2em;
  height: 2em;
}

.container_for_description_big_button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.7em;
  font-size: 1.4em;
}