.effect_button {
overflow: hidden;
transform: scale(1);
transition: transform 0.1s ease-in-out ;
cursor: pointer;
position: relative;
}
.effect_button:hover {
    transform: scale(1.02) translateY(-2px);

}
.effect_button:active {
    transform: scale(0.98) translateY(1px);

}