.container_taskwidget {
    width: 15.33rem;
    height: 9rem;
}
.content {
    opacity: 100%;
    width: 15.33rem;
    
    user-select: none;
    position: relative;
    transition: 0.5s;
    transform: scale(1);
    z-index: auto;
    left: 0rem;
}
