@font-face {
  font-family: 'Inria Sans'; /* Укажите желаемое название шрифта */
  src: url('./shared/lib/fonts/InriaSans-Regular.ttf'); /* Укажите путь к файлу шрифта TTF относительно файла CSS */
  /* Дополнительные свойства, если необходимо */
}
body {
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/background.png");
  height: auto;
  line-height:normal;

}


.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  height: 13.3em !important;

  
}
.react-datepicker__day {
  line-height: 2em !important;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select){
  height: 5.3em;
}
.react-datepicker__month-container{
  width: 20.91em;
}
